

/*map icons*/
.icon:hover {
    transform: scale(1.1) translate(-50%, -50%);
    /*box-shadow: 0 0 5px 5px #888888;*/
    cursor: pointer;
}

#map-wrap .place {
    opacity: 1;
    transition: opacity 1s ease;
}

#map-wrap.open-canvas .place{
    opacity: 0;
}

#content p {
    font-size: 14pt;
    line-height: 1.7;
}

.card-footer {
    font-size: 13pt;
}

.about h2 {
margin-top: 40px;
}


/* Canvas Boxes */
.grayoverlay {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.hidden {
    opacity: 0;
    display: none !important;
}

/*preloader*/
.preload {
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background-color: white;
    color: #6d6d6d;
}

.loading-box {
    width: 500px;
    height: 30px;
    border: 1px solid white;
}

#loading-bar {
    background-color: white;
    height: 30px;
    transition: 0.5s ease;
}

.small-screen-message {
    display: none;
    width: 100%;
    height: 100%;
}

#loadingImageInjector img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    width: auto;
    max-width: 100vw;
    max-height: 50vh;
}

.btn-default {
    font-size: 14pt;
}


.loading-text, #tipp {
    text-align: center;
    display: block;
    transition: opacity 0.5s ease;
}

.center-div {
    position: relative;
    top: -11%;
    transform: translateY(-50%);
    align-self: center;
    width: 50%;
}


.logo-image {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.preload > .center-div > h1{
    animation: tippAnimation 5s ease infinite;
}

@keyframes tippAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


/*bootstrap changes */
li.active > a {
    color: white;
}


.list-group-item {
    background-color: rgba(255, 255, 255, 0.13);
}


.list-group {
    font-size: 14pt;
}

.menu-main-title {
    margin-top: 20px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

body {
    background-image: url(../images/HintergrundInfo2.png);
}

.bg .hamburger-inner, .bg .hamburger-inner::before, .bg .hamburger-inner::after {
    background-color: white;
}

.bg {
    background-color: #444444;
}

.margin.menu-main-title {
    margin-top: 60px;
}

.address-list {
    list-style: none;
    padding: 0;
    font-size: 15pt;
}

.list-group li {
    padding: 0;
}

.list-group li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.75rem 1.25rem;
    transition: 0.2s ease;
}

.list-group li:not(.active) a:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.91);
}


/*sections*/
#content > section{
    margin-top: 120px;
}

body.auto-height #content,
body.auto-height {
    height: auto;
    padding-bottom: 75px;
}

/*normal sites*/
.main-title {
    text-transform: uppercase;
    font-size: 2.9em;
    margin-bottom: 40px;
}

.fixed-header {
    position: fixed;
    width: 100%;
    z-index: 50;
    top: 0;
}


.fixed-header + main {
    margin-top: 200px;
}

.fixed-header #menuitem {
    position: inherit;
}


#menuitem {
    white-space: nowrap;
    font-size: 14pt;
    text-transform: lowercase;
}

/*cards*/
.cards {
    animation: fadeIn 0.5s ease;
}

.cards .card-flip {
    animation: flipIn 1s ease;
}

@keyframes flipIn {
    0% {
        -webkit-transform: rotatey(-180deg);
        transform: rotatey(-180deg);
    }

    100% {
        -webkit-transform: rotatey(0deg);
        transform: rotatey(0deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*flip cards*/
.card-flip {
    -webkit-backface-visibility: hidden ;
    backface-visibility: hidden ;
    z-index: 2;
    background-color: white;
    height: 100%;
}

.card-flip .back-face {
   display: flex;
    flex-flow: column;
    transform: translateZ(-2px);
}

.card-flip .back-face .card-footer {
    justify-content: flex-end;
}

.card-flip .img {
    z-index: 1;
}

.card-flip .front-face {
    width: 100%;
    z-index: 1;
    transform: translateZ(2px);
}

.card-flip .back-face {
    -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg);
    background-color: white;
    position: absolute;
    top: 0;
    width:100%;
   height: 100%;
    z-index: -2;
}

.card-flip {
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
    background-color: #fff;
}

.card {
    cursor: pointer;
}

.card:hover .card-flip {
    -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg);
}


/* so map is not out of bounce */
@media screen and (min-device-aspect-ratio: 17/9) {
    .small-screen-message {
        display: block;
    }

    .loaded {
        display: none;
    }

    .preload {
        display: none;
    }
}

#content .modal-dialog {
    max-width: 900px;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    transition: 0.4s ease;
}

#content .modal-footer {
    padding: 5px;
}

nav#navigation.no-background {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    border: none;
}

#close-canvas {
    z-index: 400;
}

#content .show .modal-dialog {
    top: 50%;
}

.modal-content {
    padding: 10px 30px;
    background-color: #f4f4f4;
    opacity: 0.99;
    background-image: url("../images/HintergrundInfo.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.modal-footer .btn {
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.2);
}

.loading-card {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 600px;
    padding-top: 10px;
    height: 90px;
    flex-shrink: 0;
    margin-left: auto;
    border: none;
    margin-right: auto;
}

.loading-card #tipp {
    font-size: 21pt;
    margin-bottom: 0;
    vertical-align: bottom;
}

#description-title {
    font-size: 25pt;
    padding-top: 10px;
}

/* tooltip */
.tooltip-inner {
    font-weight: 300;
    background-color: rgba(255, 255, 255, 0.67);
    color: #333;
    font-size: 12pt;
}

.tooltip .arrow {
    top: 50%;
    margin-top: -3px;
    left: -5px;
}


/*Präsentation*/
.prasentation-title {
    font-size: 200px;
    font-weight: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease;
}

.prasentation-title a {
    color: white;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.prasentation-title a:hover {
    text-decoration: none;
}

.prasentation-title:hover {
    transform: translate(-51% ,-50%);
}

.prasentation-title-box {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    background-image: url("../images/Hintergrund.png");
    background-size: cover;
    overflow: hidden;
}

.tooltip .arrow::before {
    border-right-color: rgba(255, 255, 255, 0.67);
}

/*misc */
.fade-fx {
    opacity: 0;
    transition: 0.5s ease;
}

@media screen and (max-device-aspect-ratio: 6/5) {
    .small-screen-message {
        display: block;
    }

    .loaded {
        display: none;
    }

    .preload {
        display: none;
    }
}


/*media tags*/
@media screen and (max-height: 600px){
    .center-div {
        position: relative;
        top: 0;
        align-self: center;
        width: 50%;
    }
}



