

/*map icons*/
.icon:hover {
    transform: scale(1.1) translate(-50%, -50%);
    /*box-shadow: 0 0 5px 5px #888888;*/
    cursor: pointer;
}

.icon {
    transition: 0.5s;
}


/* Canvas Boxes */
.grayoverlay {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.hidden {
    opacity: 0;
    display: none !important;
}

/*preloader*/
.preload {
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background-color: white;
    color: #6d6d6d;
}

.loading-box {
    width: 500px;
    height: 30px;
    border: 1px solid white;
}

#loading-bar {
    background-color: white;
    height: 30px;
    transition: 0.5s ease;
}

.small-screen-message {
    display: none;
    width: 100%;
    height: 100%;
}

#loadingImageInjector img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    width: auto;
    max-width: 100vw;
    max-height: 50vh;
}


.loading-text, #tipp {
    text-align: center;
    display: block;
}

.center-div {
    position: relative;
    top: -20%;
    transform: translateY(-50%);
    align-self: center;
    width: 50%;
}


.logo-image {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 20px;
}


/*bootstrap changes */
li.active > a {
    color: white;
}

.list-group {
    font-size: 1.15em;
}

.list-group li {
    padding: 0;
}

.list-group li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.75rem 1.25rem;
    transition: 0.2s ease;
}

.list-group li:not(.active) a:hover {
    text-decoration: none;
    background-color: #dbdbdb;
}

.list-group li.active {
    background-color: #af1c24;
}




/* so map is not out of bounce */
@media screen and (min-device-aspect-ratio: 17/9) {
    .small-screen-message {
        display: block;
    }

    .loaded {
        display: none;
    }

    .preload {
        display: none;
    }
}


@media screen and (max-device-aspect-ratio: 6/5) {
    .small-screen-message {
        display: block;
    }

    .loaded {
        display: none;
    }

    .preload {
        display: none;
    }
}


/*media tags*/
@media screen and (max-height: 600px){
    .center-div {
        position: relative;
        top: 0;
        align-self: center;
        width: 50%;
    }
}



