

/*map icons*/
.icon:hover {
    transform: scale(1.1);
    /*box-shadow: 0 0 5px 5px #888888;*/
    cursor: pointer;
}

.icon {
    transition: 0.5s;
}


/* Canvas Boxes */
.grayoverlay {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}